@use "sass:color";

$font-family-base:
  "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif;

$font-family-heading:
  "Montserrat Variable", "Futura", sans-serif;  

$font-family-serif:
  "Lora", Georgia, "Times New Roman", serif;


$color-text-dark: #000000;
$color-text-light: #ffffff;
$color-background-light: #ffffff;
$color-background-dark: #000000;
$color-link-hover: #7fc9c3;
$color-link-focus: #2f7f79;

$font-size-base: clamp(0.8rem, 1.2vw, 1rem);

$max-width: 1200px;

$mqMobile: 420px;
$mqTablet: 768px;